<a href="https://colab.research.google.com/github/JinanRofifah/Jinan-Rofifah-Aprini/blob/main/Tugas_alprog_Jinan_Rofifah_Aprini_H051211014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Buatlah program untuk menghitung penjumlahan dua buah matriks**

In [ ]:
mat1=[
      [2,4],
      [3,9],
]
mat2=[
      [1,3],
      [5,8],
]
for x in range (0,len(mat1)):
  for y in range (0,len(mat1[0])):
    print (mat1[x][y]+mat2[x][y], end=' '),
  print

3 7 8 17

**LATIHAN**
1. **Buatlah program untuk menghitung total pembelian N buah barang dengan harga dan jumlah tertentu**

In [ ]:
print("---Toko Joong Archen---")
def total(harga,jumlah):
  """fungsi untuk menghitung total bayar"""
  return harga*jumlah
#input data
harga=int(input("masukkan harga barang: "))
jumlah=int(input("masukkan jumlah barang yang dibeli: "))
Total=total(harga,jumlah)
print("Total Harga = ", "Rp.",Total)

---Toko Joong Archen---
masukkan harga barang: 50000
masukkan jumlah barang yang dibeli: 5
Total Harga =  Rp. 250000

2. **Buatlah program untuk menghitung banyaknya bilangan genap ataupun bilangan ganjil dari N buah bilangan yang diinput secara acak**

In [ ]:
bilangan=(2,7,5,4,9,1,10,12,20)
bil_ganjil=0
bil_genap=0
for x in bilangan:
  if not x%2:
    bil_genap+=1
  else:
    bil_ganjil+=1
print("Banyak bilangan genap:",bil_genap)
print("Banyak bilangan ganjil:",bil_ganjil)

Banyak bilangan genap: 5
Banyak bilangan ganjil: 4

3. **Buatlah program untuk menampilkan bentuk bilangan kelipatan 3 diantara bilangan tertentu**

In [ ]:
evens=[]
for n in range(1,100):
  if n%3==0:
    evens.append(n)
print (evens)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

4. **Buatlah program untuk menampilkan bilangan sebagai berikut ini:**
Bilangan:<input suatu bilangan(misal:5)> 
1
12
123
1234
12345

In [ ]:
rows = 11
for num in range(rows):
    for i in range(num):
        print ((i+1), end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

5. **Buatlah program untuk menghitung dan menampilkan bentuk berikut ini:**
**No.   NamaMhs  N.Tugas  N.Kuis  N.UTS  N.UAS**
**1**
**2**
**..**
**N **

In [18]:
No=[]
NamaMhs=[]
Tugas=[]
Kuis=[]
UTS=[]
UAS=[]
NilaiAkhir=[]

ulang = (int(input("Jumlah Mahasiswa : ")))
for i in range(ulang):
  print()
  print("Data Ke - ",str(i+1))
  NamaMhs.append(input("Masukkan nama Mahasiswa : "))
  Tugas.append(int(input("Nilai tugas \t\t: ")))
  Kuis.append(int(input("Nilai kuis \t\t: ")))
  UTS.append(int(input("Nilai UTS \t\t: ")))
  UAS.append(int(input("Nilai UAS \t\t: ")))
  print()

for i in range(ulang):
    No.append(str(i+1))
    NilaiAkhir.append((Tugas[i]+Kuis[i]+UTS[i]+UAS[i])/4)

print()
print("="*100)
print("\t No \t NamaMhs \t9\t Tugas \t Kuis \t UTS \t UAS \t NilaiAkhir")
print("="*1009)
for i in range(ulang):
  print ("\t",No[i],"\t",NamaMhs[i],"\t\t",Tugas[i],"\t",Kuis[i],"\t",UTS[i],"\t",UAS[i],"\t",NilaiAkhir[i])
  print("_"*100)

Jumlah Mahasiswa : 2

Data Ke -  1
Masukkan nama Mahasiswa : Joong Archen
Nilai tugas 		: 83
Nilai kuis 		: 87
Nilai UTS 		: 92
Nilai UAS 		: 98


Data Ke -  2
Masukkan nama Mahasiswa : Dew Jirawat
Nilai tugas 		: 79
Nilai kuis 		: 82
Nilai UTS 		: 91
Nilai UAS 		: 95


====================================================================================================
	 No 	 NamaMhs 	9	 Tugas 	 Kuis 	 UTS 	 UAS 	 NilaiAkhir
====================================================================================================
	 1 	 Joong Archen 		 83 	 87 	 92 	 98 	 90.0
____________________________________________________________________________________________________
	 2 	 Dew Jirawat 		 79 	 82 	 91 	 95 	 86.75
____________________________________________________________________________________________________